<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<th:block th:fragment="footer">
		<nav class="navbar navbar-inverse navbar-static-bot nav"
			style="background-color: #fafafb; box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1)">
			<div class="container">
				<div class="row col-md-12 text-center">
				<div class = "col-md-12 text-center" style = "font-size: 14px;">
					<span><small>&copy; Copyright © 2020 TeamWork. All Rights Reserved.
				</small></span>
				<br>
				<span>Web site developed by <a href="https://facebook.com/teamwork.com" target = "_blank">@TeamWork</a></span>
				<br>
				<a href="mailto:teamwork@gmail.com">Contact Us</a>
				</div>
				</div>
			</div>
		</nav>
	</th:block>
</body>
</html>